extends layout

block content
    section(id="boxes")
        div(class="container")
            div(class="box")
                i(class="fas fa-paper-plane fa-5x")
                    h3 Nieuws
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            div(class="box")
                i(class="fas fa-image fa-5x")
                    a(href=`/smoelenboek`)
                        h3 Smoelenboek
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            div(class="box")
                i(class="fas fa-paw fa-5x")
                    h3 Speelveld
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
