doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        meta(name="description" content="De Roedelmaatjes")
        meta(name="author" content="Sabine van der Eijk")
        title Smoelenboek Roedelmaatjes
        style
            include ../style.css
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    body
        header
            div(class="container")
                div(id="branding")
                    h1 De Roedel <i class="fas fa-paw"></i> <span class="highlight">De Roedel</span></h1>
                nav
                    ul
                        a(href=`/`)
                            li Home
                        a(href=`/smoelenboek`)
                            li Roedelmaatjes
                        a(href=`/smoelenboek`)
                            li Contact
    block content
    br
    footer
        p Fortuinstraat 16, 2611 LW Delft
            br
            | KvK Delft 272659180000
            br
            br
            | Deze website is ontworpen door Sabine van der Eijk
            br
            | Sitebeheer Sandra Hurkmans


