extends layout

block content
    section(id="showcase")
        div(class="container")
            h1 De Roedel
            h3 Hondenuitlaatdienst in Delft
            br
            | 06.29.472.242  info@deroedel.org
            p U heeft een hond maar niet altijd de mogelijkheid om hem of haar uit te laten...
            br
            | U heeft een drukke baan
            br
            | U bent (tijdelijk) slecht ter been
            br
            | U gaat een dagje uit en de hond kan niet mee
            br
            | U bent ziek
            br
            br
            | ...meldt u dan nu aan bij de RoedeL!
            br
            h4 Uw hond wordt thuis opgehaald, uitgelaten met meerdere ‘roedeL’genootjes en daarna voldaan thuisgebracht.
            | U kunt kiezen tussen een ochtend- en/of middagwandeling.
            br
            br
            | De uitlaatdienst is natuurlijk ook beschikbaar voor iedereen die zijn of haar hond een leuk avontuur met ‘roedel’genootjes gunt. Honden met een "verleden" krijgen de mogelijkheid om in een roedel nieuwe - positieve- ervaringen op te doen. Oudere honden trekken zich vaak op aan de jongere en blijven zo langer fit. Jonge honden maken kennis met andere honden wat de socialisatie bevorderd.
    section(id="boxes")
        div(class="container")
            div(class="box")
                i(class="fas fa-paper-plane fa-5x")
                    h3 Nieuws
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            div(class="box")
                i(class="fas fa-image fa-5x")
                    a(href=`/smoelenboek`)
                        h3 Smoelenboek
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            div(class="box")
                i(class="fas fa-paw fa-5x")
                    h3 Speelveld
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
